/* ========================================== LOGIN ORIGINAL ========================================== */
.login-container {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.login-card {
    -fx-background-color: white;
    -fx-border-color: #d6a55b;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 25;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0, 0, 5);
    -fx-max-width: 350;
    -fx-min-width: 350;
}