/* ========================================== MODAIS ========================================== */
.modal-background {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
    -fx-padding: 20;
}

.modal-header {
    -fx-border-color: -cor-borda;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0 0 15 0;
    -fx-margin-bottom: 15;
}

.modal-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: -cor-texto-escuro;
}

.modal-close {
    -fx-background-color: transparent;
    -fx-text-fill: -cor-texto-escuro;
    -fx-cursor: hand;
}

.modal-close:hover {
    -fx-text-fill: -cor-primaria;
}